<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="jumbotron" style="padding: 20px 0px" [style.background-color]="headerBgColor">
          <h4 class="text-center">
           {{appTitle}}
          </h4>
      </div>

      <div class="input-group">
        <input type="text" class="form-control" #taskTitle placeholder="Add a task....">
        <div class="input-group-append">
          <span class="input-group-text hover-cursor btn-info" (click)="addItem(taskTitle)">
              <i class="fas fa-plus-square"></i>
          </span>
        </div>     
      </div>

      <div style="margin-top: 2rem;">
        <ul class="list-group" *ngIf="items">
            <li class="list-group-item" *ngFor="let item of items">              
              <span class="hover-cursor pull-left chk-margin" 
                [ngClass]="item.value.checked?'text-success':'text-info'"
                (click)="alterItemCheck(item.id,item.value.checked)" >
                <i [ngClass]="item.value.checked?'fas fa-check-circle':'fas fa-arrow-alt-circle-right'"></i>
              </span>
              <span [class.txt-checked]="item.value.checked">
                {{item.value.title}} 
              </span>
              <span class="hover-cursor pull-right text-danger" (click)="removeItem(item.id)">
                  <i class="fas fa-trash-alt"></i>
              </span>
            </li>            
          </ul>
      </div>

    </div> 
  </div>
</div>